@CHARSET "UTF-8";
* {
font-family: "RixGo_Pro", "HelveticaNeue", Helvetica, Arial, sans-serif;
}
.debugBox {
	display:inline-block;
	width:330px;
}
.debugTitle {
background:white;color:black;
Z-webkit-box-shadow:0px 0px 2px black;
border:2px solid blue;   
}
body {
color: #828282;
margin:0px;
-webkit-user-select:none;
-webkit-user-drag: none;
-webkit-user-select:none;
background-repeat:no-repeat;
background:#F5F5F5;
}
td {
}
.exaEng {
}
.exaEng b {
color:#F03C1E;
font-weight:normal;
}
.exaKor {padding-top:10px;}
.exaKor span {}

.heightSpacer {
	color:blue;
}	
.deriHwd {
font-family: "HelveticaNeue";
color:#222222;
font-weight: bold;
padding:0px 0px 2px 4px;
}
.outerTable {
	margin:0px;
	width: 316px;
	height: 100%;
}

.innerTable {
}
.transMeaning {
	color:black;
}
.transTable {
}
.pos , .deriPos {
	text-align: center;
	vertical-align: text-top;
	color: #B3B3B3;
	padding:0px 6px 0px 3px;
	white-space: nowrap;
	width:20px;
}
.tran, .deriTran {
}
.transSenseNum {
	text-align: center;
	vertical-align: top;
	color: #F03C1E;
	padding:0px 3px 0px 3px;
}
.senseNum {
	width: 16px;
	text-align: center;
	vertical-align: top;
	color: #F03C1E;
	padding-right: 3px;
}

.origin_desc_text {
	vertical-align: text-top;
}

.eng_block1 {
	display: inline-block;
	white-space: nowrap;
	Xborder: 1px solid red;
}

.eng_block2 {
	display: inline-block;
	white-space: nowrap;
}
.builtT {
	margin-bottom:10px;
}
.builtT2 {
	margin-left:5px;
}
ul {
	margin:0px 0px 0px 5px;
	padding:0px 0px 0px 15px;
	list-style-position:outside;
}
ul li {
	padding-left:0px;
	margin-left:0px;
}
.vocadesc_f {
	line-height:24px;
}
.vocadesc_f b {
	color:black;
}
.eng_block_vdesc {
	display: inline-block;
	white-space: nowrap;
	Xborder: 1px solid red;
}