body {
    font-family: "Segoe UI", "RixGo_Pro", "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-size: 80%;
}
table {
    border-collapse: collapse;
}
td {
    border: 1px solid lightgray;
    padding: 5px;
}