body {
    font-family: "Segoe UI", "RixGo_Pro", "HelveticaNeue", Helvetica, Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

td {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

hr {
    margin: 0.3em;
    border: 0px solid white;
}
